* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

:root {
  --rubik: "Rubik";
  --syne: "Syne";
  --bgc: #1b1b1b;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  background-color: var(--bgc);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 150px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo_name h1,
.logo_name h1 b {
  font-size: 30px;
  color: white;
  font-family: var(--rubik);
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.logo_name h1 b {
  color: gainsboro;
  font-size: 25px;
  text-shadow: 0px 0px 5px grey;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 55px;
}

.navbar .links ul {
  list-style: none;
  display: flex;
  gap: 45px;
}
.navbar .links li a {
  transition: 0.3s;
  text-decoration: none;
  font-family: var(--rubik);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.navbar .links button {
  /* button font style */
  font-family: var(--rubik);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;

  /* button style */
  padding: 15px 35px;
  transition: 0.2s;
  cursor: pointer;
  background: rgba(3, 3, 4, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

header {
  background-color: var(--bgc);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 182px 0 115px;
}

header h1 {
  color: white;
  font-family: var(--syne);
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 93px;
}

.explore_btn button {
  background: #ff9142;
  border-radius: 32.5px;
  padding: 24px 40px;
  border: none;
  transition: 0.2s;

  font-family: var(--rubik);
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f7fa;
}

.explore_btn button i {
  margin-left: 24px;
}

#about {
  display: grid;
  grid-template-columns: repeat(2, calc(100% / 2));
  justify-content: space-between;
  gap: 58px;
  padding: 115px 150px 145px;
  background-color: var(--bgc);
  color: white;
  align-items: center;
}

.profile_photo {
  position: relative;
}

.profile_photo figure img {
  width: 100%;
}

.figure1 {
  width: 10%;
  height: 37%;
  border: 1px solid #ff9142;
  border-radius: 30px;
  position: absolute;
  bottom: 10%;
  left: -7%;
}

.figure2 {
  width: 27%;
  height: 10%;
  border: 1px solid #ff9142;
  border-radius: 30px;
  position: absolute;
  top: -6%;
  right: 0;
}

.leftAbout .top h1 {
  font-family: var(--syne);
  font-weight: 700;
  font-size: 56px;
  color: #ffffff;
}

.leftAbout .top p {
  font-family: var(--rubik);
  font-weight: 400;
  font-size: 18px;
  color: #a8a8a8;
  margin-top: 26px;
}

.leftAbout {
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.discover_btn button {
  /*button style*/
  background-color: #ff9142;
  padding: 20px 50px;
  border-radius: 47px;
  transition: 0.2s;

  /*button font style*/
  color: white;
  font-family: "Rubik";
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.projects {
  padding: 145px 150px 83px;
  background-color: var(--bgc);
}

.projects .title {
  text-align: center;
  color: white;
}

.projects .title h1 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 64px;
}

.projects .title .explore_btn button {
  background-color: #ffffff00;
  border: 1px solid #ff9142;
  border-radius: 32.5px;
  margin-top: 54px;

  transition: 0.2s;
}

.project_cards {
  margin-top: 79px;
  display: grid;
  gap: 27px;
  grid-template-columns: repeat(2, calc(50%));
}

.project_card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project_name {
  display: flex;
  align-items: center;
  gap: 32px;
}

.project_name h3 {
  font-family: var(--syne);
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.project_name span {
  display: inline-block;
  width: 5%;
  border: 1px solid #ff9142;
}

.client p:first-child,
.work p:first-child {
  font-family: var(--rubik);
  font-weight: 400;
  font-size: 14px;
  color: #606060;
}

.client,
.work {
  display: flex;
  gap: 18px;
}

.client p,
.work p {
  font-family: var(--rubik);
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.testimonial {
  padding: 83px 150px 119px;
  background-color: var(--bgc);
}

.title_quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: var(--syne);
  font-weight: 700;
  font-size: 54px;
}

.test_text p {
  width: 79%;
  margin: 44px 0;
  font-family: var(--rubik);
  font-weight: 400;
  font-size: 18px;
  color: #949494;
}

.name {
  color: white;
  font-family: var(--syne);
  font-size: 24px;
}

footer {
  background-color: #131313;
  padding: 100px 150px;
}

.mail {
  text-align: center;
}

.mail a {
  font-family: var(--syne);
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #ffffff;
}

footer > h3 {
  font-family: var(--syne);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #ff9142;
}

footer .contact {
  margin: 100px 0 60px;
  display: flex;
  color: white;
  justify-content: space-between;
}

.contact .logo_name h1 {
  font-size: 30px;
}

.address {
  font-family: var(--syne);
  font-weight: 700;
  font-size: 24px;
}

.address p:last-child {
  width: 70%;
}

.phone_soc a {
  text-decoration: none;
  font-family: var(--syne);
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.networks {
  display: flex;
  gap: 10px;
}

.phone_soc .networks i {
  font-size: 30px;
  cursor: pointer;
}

footer hr {
  border: 1px solid #949494;
}

.footer_bottom_text {
  font-family: "Syne";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 36px;
}

.project_card img {
  width: 100%;
}

.navbar .links li a:hover {
  opacity: 1;
}

.explore_btn button:active,
.discover_btn button:active {
  background-color: #ffffff00;
  outline: 1px solid #ff9142;
  transform: scale(0.9);
}

.projects .title .explore_btn button:active {
  background-color: #ff9142;
  border: 1px solid #ff9142;
}

.navbar .links button:active {
  /* button style */
  cursor: pointer;
  background: #ff9142;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1110px) {
  .leftAbout .top h1 {
    font-size: 40px;
  }

  .profile_photo figure img {
    width: calc(100%);
  }

  .test_text p {
    width: 100%;
  }

  .title_quote {
    gap: 50px;
  }
}

@media (max-width: 940px) {
  .title_quote {
    align-items: end;
    font-size: 47px;
  }

  .title_quote figure img {
    /* width: 100%; */
    width: 15vw;
  }

  .leftAbout .top h1 {
    font-size: 30px;
  }

  .leftAbout .top p {
    font-size: 15px;
  }

  .discover_btn button {
    /*button style*/
    background-color: #ff9142;
    padding: 20px 30px;
    border-radius: 47px;

    /*button font style*/
    color: white;
    font-family: "Rubik";
    font-weight: 600;
    font-size: 12px;
    border: none;
  }

  header h1 {
    font-size: 52px;
  }

  footer {
    background-color: #131313;
    padding: 100px 130px;
  }

  .mail a {
    font-size: 54px;
  }

  footer > h3 {
    font-size: 20px;
  }

  .contact .logo_name h1 {
    font-size: 24px;
  }

  .contact .logo_name h1 b {
    font-size: 20px;
  }

  .address {
    font-size: 15px;
  }

  .address p:last-child {
    width: 100%;
  }

  .phone_soc a {
    font-size: 18px;
  }

  .networks {
    display: flex;
    gap: 10px;
  }

  .phone_soc .networks i {
    font-size: 25px;
    cursor: pointer;
  }

  .footer_bottom_text {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin-top: 36px;
  }

  .testimonial {
    padding: 83px 100px 119px;
  }

  #about {
    padding: 115px 130px 145px;
  }
}

@media (max-width: 885px) {
  .navbar {
    padding: 24px 100px;
  }

  #about {
    padding: 115px 100px 145px;
  }

  .project_name {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .project_name h3 {
    font-size: 16px;
  }

  .title_quote {
    align-items: end;
    font-size: 43px;
  }

  .testimonial {
    padding: 83px 100px 119px;
  }

  .title_quote figure img {
    width: 15vw;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 24px 70px;
  }

  .leftAbout {
    gap: 50px;
  }

  .leftAbout .top h1 {
    font-size: 25px;
  }

  .leftAbout .top p {
    font-size: 13px;
    margin-top: 20px;
  }

  .mail a {
    font-size: 44px;
  }

  .projects {
    padding: 145px 70px 83px;
  }

  .projects .title h1 {
    font-size: 54px;
  }
}

@media (max-width: 745px) {
  .navbar {
    padding: 24px 40px;
  }

  .navbar .links ul {
    gap: 40px;
  }

  .navbar .links li a {
    font-size: 12px;
  }

  .navbar .links button {
    padding: 15px 25px;
  }

  .title_quote {
    align-items: end;
    font-size: 40px;
  }

  .title_quote figure img {
    /* width: 100%; */
    width: 15vw;
  }

  #about {
    gap: 45px;
  }

  .project_name h3 {
    font-size: 14px;
  }

  .test_text p {
    font-size: 16px;
  }

  .explore_btn button {
    padding: 15px 30px;
  }

  .discover_btn button {
    padding: 15px 30px;
  }
}

@media (max-width: 670px) {
  .navbar .links ul {
    flex-direction: column;
    align-items: center;
  }

  .hamburger_menu .links .close_menu {
    outline: 2px solid #ff9142;
    padding: 7px 6px;
  }

  .hamburger_menu .links .close_menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 30px;
    right: 15px;
  }

  .hamburger_menu .links .close_menu span {
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #ff9142;
  }

  .hamburger_menu {
    display: none;
    padding: 80px 50px;
    position: absolute;
    top: 0;
    left: 100%;
    flex-direction: column;
    background-color: #35353588;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 100vh;
    transition: 0.4s;
  }

  .hamburger_menu .links {
    flex-direction: column;
  }

  .hamburger_menu .links li a {
    font-size: 20px;
  }

  .hamburger_menu .links button {
    padding: 15px 40px;
  }

  .navbar {
    align-items: center;
  }

  .menu {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    outline: 2px solid #ff9142;
    padding: 7px 6px;
  }

  .menu span {
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: #ff9142;
  }

  input:checked ~ .container .hamburger_menu {
    left: calc(100% - 250px);
    display: block;
  }

  input:checked ~ .container .menu {
    display: none;
  }

  .title_quote figure img {
    width: 15vw;
  }

  .testimonial {
    padding: 83px 50px 70px;
  }
}

@media (max-width: 581px) {
  #about {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .title_quote figure {
    display: none;
  }

  .contact {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .testimonial {
    text-align: center;
  }

  footer {
    padding: 100px 80px;
  }

  .mail a {
    font-size: 20px;
  }

  .title_quote {
    font-size: 30px;
    justify-content: center;
  }

  .test_text p {
    text-align: justify;
  }

  .project_cards {
    grid-template-columns: repeat(1, calc(100%));
  }

  header h1 {
    font-size: 35px;
  }

  .projects .title h1 {
    font-size: 30px;
  }

  .leftAbout .top p {
    text-align: justify;
  }

  #about {
    padding: 115px 60px 145px;
  }
}

@media (max-width: 391px) {
  .mail h1 {
    text-align: center;
  }

  .mail a {
    font-size: 20px;
  }

  .title_quote {
    font-size: 20px;
  }

  .test_text p {
    font-size: 14px;
  }

  .name {
    font-size: 16px;
  }
}

@media (max-width: 281px) {
  header h1 {
    font-size: 25px;
  }

  #about {
    padding: 115px 30px 60px;
  }

  .projects {
    padding: 60px 30px 83px;
  }

  .testimonial {
    padding: 83px 30px 70px;
  }

  footer {
    padding: 100px 30px;
  }
}
